      <!-- TODO  move this header__container to a separete component-->
      <app-header-entity
        [data]="['1', '2']"
        [title]="'Users'"
        [newEntityButtonText]="'New User'"
        [newEntityUrl]="'register-user'">
      </app-header-entity>
      <div class="alert alert-warning" *ngIf="users.length === 0 && !isErrorConnection" role="alert">
        NO HAY USUARIOS CREADOS AUN.
      </div>
      <div class="alert alert-danger" *ngIf="isErrorConnection" role="alert">
        <ul>
          <li *ngFor="let error of errors">{{error}}</li>
        </ul>
      </div>
      <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table table-responsive-md table-bordered table-hover table-striped table-dark" *ngIf="users.length > 0 && !isErrorConnection">
            <thead>
              <tr>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Phone number</th>
                <th scope="col">City</th>
                <th scope="col"> - </th>
              </tr>
            </thead>
            <tbody style="height: 10px !important; overflow-y: auto; "> 
              <tr *ngFor="let user of users">
                <td>{{user.username | titlecase}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.city | titlecase}}</td>
                <td>
                  <button class="btn btn-warning center" (click)="editUser(user)">
                    <i class="bi bi-pencil-square"></i> Edit
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
