  <form (submit)="register($event)" autocomplete="off" ngNativeValidate>
    <div class="form">
      <div class="form-group col-xs-10">
        <label for="email" class="label-form">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" required> 
      </div>
      <div class="form-group col-xs-12">
        <label for="password" class="label-form">Password</label>
        <input type="password" class="form-control" autocomplete="new-password" id="password" placeholder="********" required>
      </div>
      <div class="form-group col-xs-12">
        <label for="username" class="label-form">Username</label>
        <input type="text" class="form-control" autocomplete="off" id="username" placeholder="Username" required>
      </div>
      <div class="form-group col-xs-12">
        <label for="phone" class="label-form">Phone number</label>
        <input type="number" class="form-control" id="phone" placeholder="Enter a phone number" required>
      </div>
      <div class="form-group col-xs-12">
        <label for="city" class="label-form">City</label>
        <input type="text" class="form-control" placeholder="Enter a city" id="city" required>
      </div>

      <div class="form__buttons">
          <button type="submit" id="btn-save" class="btn btn-primary">
            <i class="bi bi-person-check"></i> Save
          </button>
          <a href="" [routerLink]="['/users']" routerLinkActive="router-link-active" >
            <button type="button" id="btn-back" class="btn btn-link">
              <i class="bi bi-arrow-left-short"></i> Back
            </button>
          </a>
      </div>
    </div>
    
    
    <div class="form-row">
      <div class="form-group col-md-2" *ngIf="isAdmin">
        <label for="inputState">Perfil</label>
        <select id="inputState" class="form-control">
          <option>Administrador</option>
          <option>Usuario</option>
        </select>
      </div>
    </div>
    
    <button type="button" class="btn btn-warning" *ngIf="isUserExist" (click)="newUser();">LIMPIAR DATOS</button>
    <div class="alert alert-danger" *ngIf="isUserExist || isErrorConnection" role="alert">
      <ul>
        <li *ngFor="let error of errors">{{error}}</li> 
      </ul>
    </div>
    <div class="toast" role="alert alert-success" *ngIf="isUserCreated" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <img src="..." class="rounded mr-2" alt="...">
          <strong class="mr-auto">User created.</strong>
          <small class="text-muted">1 mins ago</small>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body">
          User created. <hr>
          <a routerLink="/users"> Listar Usuarios </a><button class="btn btn-primary" (click)="newUser()">Nuevo Usuario</button>
        </div>
      </div>
    <div class="alert alert-success"  role="alert">
       
    </div>
  </form>