.form {
    width: 450px;
    margin: auto;
}

.form__buttons {
    display: grid;
    grid-template-rows: 50% 50%;
    align-items: center;
}

.form__buttons>#btn-link {
    grid-row: 2;
}
.form__buttons>#btn-save {
    grid-row: 1;
}

@media(min-width: 756px) {
    .form__buttons {
        display: grid;
        grid-template-columns: 100px 100px;
        justify-content: space-between;
    }
    .form__buttons>#btn-link {
        grid-column: 1;
        justify-items: start;
    }
    .form__buttons>#btn-save {
        grid-column: 2;
    }
}