<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="(isLoading$ | async) == false">
  <a class="navbar-brand" (click)="setPage('')" routerLinkActive="active" routerLink="/">MS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto right">
      <li class="nav-item" id="tab-users">
        <a class="nav-link" routerLinkActive="active" routerLink="/access">My Expenses</a>
      </li>
      <li class="nav-item" id="tab-users-awards">
          <a class="nav-link" routerLinkActive="active" routerLink="/profile">My Profile</a>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
     
     <app-login-button 
        *ngIf="(auth.isAuthenticated$ | async) === false">
      </app-login-button>
      <app-logout-button 
        *ngIf="(auth.isAuthenticated$ | async)">
      </app-logout-button>
    </form>
  </div>
</nav>