.container {
  width: 725px;
  margin-top: 50px;
  margin-bottom: 2px #E8E8E8 solid;
}

.list-group__extra {
  width: 725px;
  height: 500px;
  overflow: scroll; 
  overflow-x: hidden;
}

.list-group-item {
  border-bottom: 2px #E8E8E8 solid;
}

hr {
  background-color: #E8E8E8;
  height: 0.5px;
}