<div class="full">

  <div class="container">
      <div class="row d-flex w-100">
        <div class="col-sm-4">
            <input class="form-control form-control-sm" type="text" placeholder="Name the expense" aria-label=".form-control-sm">
        </div>
        <div class="col-sm-3">
            <input class="form-control form-control-sm" type="number" placeholder="how much?" aria-label=".form-control-sm">
        </div>
        <div class="col-sm-5">
            <input class="form-control form-control-sm" type="date" aria-label=".form-control-sm">
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-4">
            <button class="btn btn-sm btn-primary"> Where?</button>
            &nbsp;&nbsp;
            <button class="btn btn-sm btn-warning"> Save</button>
        </div>
        <div class="col-sm-3">
            
        </div>
        <div class="col-sm-5">
            
        </div>
      </div>
  </div>

  <div class="container">  
      <div class="list-group list-group__extra">
        <a href="#" class="list-group-item list-group-item-action" *ngFor="let item of expenses" aria-current="true" >
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ item.title }}</h5>
            <small>{{ item.date | slice:0:2 }} ago</small>
          </div>
          <span class="badge bg-primary">{{ item.ammount | currency:'EUR' }}</span>
          <p class="mb-1">{{item.text}}</p>
          <small>Condis</small>
        </a>
      </div>
  </div>
</div>  


