<div class="header__container">
    <h3 class="header__title" *ngIf="data.length > 0">{{ title }}</h3>
    <button type="button" (click)="navigate()"  class="btn-sm btn-primary">
        <i class="bi bi-person-plus"></i>
        {{ newEntityButtonText }}
    </button>
    <hr>
</div> 
