@import 'src/assets/styles/variables.scss';

.header__container {
  display: grid;
  grid-template-columns: 150px 150px;
  justify-content: space-between;
}

.header__title {
  margin-top: 10px;
  color: $gray-80;
  font-size: 20px;
}