@import 'src/assets/styles/variables';

.overlay {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 300;
}

.overlay-white-bg {
  @extend .overlay;
  background-color: $white;

  .loader-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .loader-relative {
      position: relative;

      .loader,
      .loader:after {
        border-radius: 50%;
        width: 120px;
        height: 120px;
      }

      .loader {
        opacity: .8;
        font-size: 6px;
        text-indent: -9999em;
        border-top: 1.1em solid rgba($white, .2);
        border-right: 1.1em solid rgba($white, .2);
        border-bottom: 1.1em solid rgba($white, .2);
        border-left: 1.1em solid $gray-48;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-animation: load8 1.1s infinite linear;
        animation: load8 1.1s infinite linear;
      }

      .purdue-loader-icon {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -24px;
        margin-top: -24px;
      }
    }

    .label-message {
      font-family: $secondary-font;
      font-size: 14px;
      width: 80%;
      max-width: 360px;
      margin-top: 46px;
      text-align: center;
      color: $gray-48;
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .overlay-white-bg .loader-container .label-message {
    font-size: 16px;
    width: 70%;
  }
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
