<div class="overlay-white-bg">
  <div class="loader-container">
    <div class="loader-relative">
      <div class="loader"></div>
      <img class="purdue-loader-icon" src="assets/images/logo-pg-loader.svg" alt="Purdue Logo">
    </div>
    <label *ngIf="message" class="label-message">{{message}}</label>
  </div>
</div>
