/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "src/assets/styles/variables.scss";

body {
  margin: 0px;
  padding: 0px;
 //  background-color: #2A2A2A;
}

.container {
  margin-top: 100px;
}

// .label-form {
//   color: $white-98;
// }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
