
// COLORS

// Grays
$black: #000000;
$gray-12: #23292d;
$gray-24: #323a3f;
$gray-48: #647178;
$gray-focus: #666;
$gray-56: #76767d;
$gray-64: #939da2;
$gray-80: #c1c7cb;
$gray-88: #d9dde0;
$gray-94: #F2F7F7;
$gray-96: #f1f4f6;
$white: #ffffff;
$white-98: #f0f6f9;

// Goldens
$gold-40: #6b4d06;
$gold-48: #8f680a;
$gold-base: #c28e0e;
$gold-88: #f1dab0;
$gold-96: #fff1e2;

// Reds
$danger-20: #DC1717;
$danger-40: #a31115;
$danger-80: #fcb4b4;
$danger-88: #fed2d3;

// Greens
$success-48: #2b7d42;
$success-base: #46a661;
$success-64: #3c773d;
$success-88: #b0ebbe;
$success-96: #e2f9e7;
$success: #dff1d8;

// Blues
$action-16: #002b3e;
$action-24: #00526f;
$action-base: #006080;
$action-48: #0076a2;
$action-80: #85ceff;
$action-88: #b4cbd9;

// Various
$pappy-base: #ad1f65;
$info-48: #1f7a82;
$badge-48: #b35409;
$orange-34: #fd8d34;
$bootstrap-disabled-background: #e9ecef;

// FONTS
$generic: sans-serif;
$primary-font: 'Archivo Narrow', $generic;
$secondary-font: Arial, $generic;
$icons-font: 'font-awesome', $generic;

// Breakpoints
$breakpoint-mobile-small: 320px;
$breakpoint-tablet: 576px;
$breakpoint-tablet-landscape: 1024px;
$breakpoint-desktop: 1200px;
