<header>
  <div class="overlay"></div>

  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="assets/videos/video1.mp4" type="video/mp4">
  </video>

  <!-- The header content -->
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">MoneySafe</h1>
        <p class="lead mb-0">keep your money under control</p>
        <div class="container" *ngIf="(auth.isAuthenticated$ | async) === false">
          <a href="access">
            <button type="button" class="btn btn-outline-light">Login</button>
          </a>
          &nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-light">Sign up</button>
        </div>
        <div class="container" *ngIf="(auth.isAuthenticated$ | async)">
          <a href="access">
            <button type="button" class="btn btn-outline-light">Go</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
  